
/* Beginning of NavBar CSS  Edit anything that has to do with the navbar*/
.fundaze-nav{
    font-family: 'Chela One', cursive;
    font-size: 30px;
}

#fd{
    font-family: 'Monoton', cursive;
    color: #006622;
    font-size: 50px;
}

#unaze{
    font-size: 40px;
    color: #006622;
}
/* End of NavBar */

/* Photo Content */
.fixed-photo-content{
    background-image: url('../img/img1.jpg');
    
}
/* End Photo Content */


